vrrp_script chk_haproxy {

    script "pidof haproxy"

    interval 2

}



vrrp_instance VI_1 {

    state BACKUP

    interface eth2

    virtual_router_id 51

    priority 100

    virtual_ipaddress {

        {{ha_virtual_ip}}

    }

    track_script {

        chk_haproxy

    }

}
